body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background: $grey-darker;
  margin-top: 70px;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: $grey-light;
  border-radius: 20px;
}
