
$black: #1A1A1A;
$grey-darker: #2D2D2D;
$grey-light: #3E3E3E;
$grey-lighter: #CCCCCC;
$white: #FFFFFF;
$yellow: #FFCC00;
$yellow-lighter: #FFDF6B;
$pink: #FF99CC;
$red: #E35454;
$green: #4DB281;

$tablet-bp: 980px;